// Color: White Base
$color-white-1: #fff;

// Color: Blue Base
$color-blue-1: #e6ecf2;
$color-blue-2: #177ee6;
$color-blue-3: #66b3ff;

// Color: Gray Base
$color-gray-1: #808080;
$color-gray-2: #b3b3b3;
$color-gray-3: #f2f2f2;

// Color: Black Base
$color-black-1: #333;
$color-black-2: #1a1a1a;
$color-black-3: #262626;
