$dialog-span-bottom: 0.88rem;
$dialog-padding-x: 2rem;
$dialog-padding-y: 1.5rem;
$list-gap: 3.2rem;
$list-logo-space: 14rem;
$list-logo-width: 7.2rem;
$list-separator-width: 0.4rem;
$list-item-line-height: 1;
$list-item-font-size: 1.6rem;
$list-item-gap: 1.44rem;
$list-item-indent: 1.6rem;
