$layout-max-width: 50rem;
$layout-gap-x: 0.3rem;
$layout-gap-y: 0.3rem;
$button-border-radius: 0.2rem;
$button-border-width: 0.1rem;
$button-height: 2rem;
$button-font-size: 1.2rem;
$button-padding-x: 0.2rem;
$button-padding-y: 0.5rem;
$button-norm-bg-color: #fff;
$button-norm-text-color: #333;
$button-norm-border-color: #333;
$button-hover-bg-color: #e7e8e9;
$button-hover-text-color: #333;
$button-hover-border-color: #333;
$button-click-bg-color: #999;
$button-click-text-color: #fafafa;
$button-click-border-color: #efefef;
