@use '@/assets/vars/color.scss' as *;

$colors-light: (
  keyboard-key-border-color: $color-gray-2,
  keyboard-key-bg-default-color: $color-white-1,
  keyboard-key-text-default-color: $color-gray-5,
  keyboard-key-icon-default-color: $color-gray-5,
);

$colors-dark: (
  keyboard-key-border-color: $color-gray-2,
  keyboard-key-bg-default-color: $color-white-1,
  keyboard-key-text-default-color: $color-gray-5,
  keyboard-key-icon-default-color: $color-gray-5,
);

$colors: (
  light: $colors-light,
  dark: $colors-dark,
);
