@use '@/assets/effects/theme.scss';
@use './color.scss' as *;

$keyboard-key-radius: 0.4rem;
$keyboard-key-height: 3.6rem;
$keyboard-key-line-height: 1.6rem;
$keyboard-key-font-size: 1.6rem;

@include theme.themeify($colors) {
  .keyboard-key {
    position: relative;
    background-color: theme.t('keyboard-key-bg-color');
    color: theme.t('keyboard-key-text-color');
    border: 0.1rem solid theme.t('keyboard-key-border-color');
    border-radius: $keyboard-key-radius;
    height: $keyboard-key-height;

    .text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      line-height: $keyboard-key-line-height;
      font-size: $keyboard-key-font-size;
      font-weight: bold;
    }

    .icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
