$keyboard-gap-x: 0.24rem;
$keyboard-gap-y: 0.4rem;
$keyboard-max-width: 60rem;

.keyboard-wrapper {
  gap: $keyboard-gap-y $keyboard-gap-x;
  display: grid;
  margin: 0 auto;
  max-width: $keyboard-max-width;
}
